<app-my-header name="Лабораторна робота №1"> </app-my-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title> Завдання 1 </ion-card-title>
    </ion-card-header>
    <ion-card-context>
      <p class="p_background">
          Розробити сервіс для додавання і віднімання кутових значень, заданих градусами, мінутами і секундами.

      </p>
      <ion-item>
        <ion-label position="floating">Мінути</ion-label>
        <ion-input type="number" id="a" value="1" #Inputa></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Градуси</ion-label>
        <ion-input type="number" id="b" value="2" #Inputb></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Радіани</ion-label>
        <ion-input type="number" id="c" value="3" #Inputc></ion-input>
      </ion-item>
      <ion-button
        expand="block"
        (click)="ras(Inputa.value,Inputb.value,Inputc.value)"
        >Розрахунок</ion-button
      >
      <ion-item>
        <p>Результат обчислення <br>Мінути: {{a}}<br>Градуси: {{b}}<br>Радіани: {{c}}</p>
      </ion-item>
    </ion-card-context>
  </ion-card>
</ion-content>
