<app-my-header name="Лабораторна робота №1"> </app-my-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title> Завдання 3 </ion-card-title>
    </ion-card-header>
    <ion-card-context>
      <p class="p_background">
        Згенерувати матрицю
        розміром NxN.
        Виокремити за
        допомогою кольору
        усі непарні додатні
        елементи менше за 25.
      </p>
      <ion-item>
        <ion-label position="floating">N</ion-label>
        <ion-input type="number" id="a" value="3" #Inputn></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="arrayras(Inputn.value)"
        >Згенерувати матрицю</ion-button
      >
      <ion-item>
        <ion-grid>
          <ion-row *ngFor="let i of a">
            <ion-col
              *ngFor="let j of i"
              [ngStyle]="{backgroundColor: getColor(j)}"
              >{{j}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-context>
  </ion-card>
</ion-content>
