<app-my-header name="Лабораторна робота №2"> </app-my-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Лабораторна робота №2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text
        >Створити додаток для табулювання і виведення на екран значення
        функції
        <div class="img_formula"></div>
        </ion-text
      >
      <ion-item>
        <ion-label position="floating">Xn  (начальное)</ion-label>
        <ion-input type="number" id="xn" value="-5.2" #Inputxn></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Xk (конечное)</ion-label>
        <ion-input type="number" id="xk" value="11.7" #Inputxk></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">a (параметр)</ion-label>
        <ion-input type="number" id="a" value="5.3" #Inputa></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">h  (шаг)</ion-label>
        <ion-input type="number" id="h" value="0.5" #Inputh></ion-input>
      </ion-item>
      <ion-button
        expand="block"
        (click)="graphras(Inputxn.value,Inputxk.value,Inputa.value,Inputh.value)"
      >
        Розрахунок
      </ion-button>
      <ion-item>
        <canvas #lineCanvas></canvas>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
